<section>
  <div>
    <h1 class="text-center">Sidebar Designs</h1>
    <!-- To be amazed...open the sidebar from below -->
  </div>
  <app-button-box></app-button-box>
  <app-left-sidebar> </app-left-sidebar>
  <app-right-sidebar> </app-right-sidebar>
  <app-top-sidebar> </app-top-sidebar>
  <app-bottom-sidebar> </app-bottom-sidebar>
  <app-fullpage-sidebar> </app-fullpage-sidebar>
  <app-top-left-sidebar> </app-top-left-sidebar>
  <app-top-right-sidebar> </app-top-right-sidebar>
  <app-bottom-left-sidebar> </app-bottom-left-sidebar>
  <app-bottom-right-sidebar> </app-bottom-right-sidebar>
</section>
